* {
  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  text-align: 0;
  margin: 0;
  font-size: 1vh;
}
#postCardView {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  height: 60%;
  min-width: 300px;
  min-height: 300px;
  box-shadow: 0 0 100px;
  overflow: hidden;
  border-radius: 16px;
  background-color: transparent;
}
#postCardView #viewBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#postCardView #viewAccountRect {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 3;
  background-color: transparent;
}
#postCardView #viewAccount,
#postCardView #viewInfomation {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  opacity: 0;
  z-index: 0;
}
#postCardView #viewInfomation {
  left: 0;
  opacity: 1;
}
#postCardView #originalCharacterAvatarImage {
  transform: translate(10%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25vw;
  height: 25vw;
  min-width: 250px;
  min-height: 250px;
  border-radius: 50%;
  z-index: 2;
}
